configuração escrita(servidor).json
[{"id":"f27c9ffe.5efa8","type":"modbus-write","z":"2cb15f5b.37a73","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"10","quantity":"1","server":"fcac8d51.7bff8","x":620,"y":280,"wires":[[],[]]},{"id":"5839b8f.5556048","type":"inject","z":"2cb15f5b.37a73","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["2d2eda9a.5d61d6"]]},{"id":"2d2eda9a.5d61d6","type":"random","z":"2cb15f5b.37a73","name":"","low":"1","high":"100","inte":"false","property":"payload","x":420,"y":280,"wires":[["f27c9ffe.5efa8"]]},{"id":"fcac8d51.7bff8","type":"modbus-client","z":"","name":"NodeModbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]